@media(max-width: 1340px){
    .container-2 h1{
        font-size: 4.0rem ;
    }
}

@media(max-width: 1140px){
    .container-2 h1{
        font-size: 3.0rem ;
    }

    .container-2 p, .container-2 span{
        font-size: 1.4rem;
    }
}

@media(max-width: 950px){
    .container-2{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        position: relative;

    }

    .container-2 h1{
        font-size: 5.0rem ;
    }

    .container-2 p{
        width: 90%;
        line-height: 40px;
    }

    .container-2 p, .container-2 span{
        font-size: 2.5rem;
    }

    .container-2 .btn-2{
        width: 50%;
        
    }
}

@media(max-width: 780px){
    .tela-1 .container{
        height: 100vh;
        width: 100vw;
        border-radius: 0px;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
       
    }

    .tela-1 .container .formulario h1{
        padding: 0;
    }
    
    .formulario{
        width: 80%;
    }

    .tela-1 .container .imagem{
       width: 100%;
       
        
        
    }
}

@media(max-width: 695px){
    .tela-1 .container .formulario h1{
        font-size: 3.5rem;
        text-align: center;
        padding-top: 20px;
    }

    

    .tela-1 .container .formulario li,.tela-1 .container .formulario p {
        font-size: 1.8rem;
        
    }

    .tela-1 .container .formulario p{
        padding: 15px;
    }

    

    .formulario ul li::before{
        content: "";
        background-image: url(../img/icon-list.svg);
        background-size: cover;
        display: inline-block;
        width: 19px;
        height: 19px;
        margin-right: 10px;
    }

    .container-2{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        display: flex;
        flex-direction: column;
       

    }

    .container-2 img{
        width: 50px;
    }

    .container-2 h1{
        font-size: 4.0rem ;
    }

    .container-2 p{
        width: 90%;
        line-height: 30px;
    }

    .container-2 p, .container-2 span{
        font-size: 2.0rem;
    }

    .container-2 .btn-2{
       width: 100%;
       margin-top: 250px;
        
    }
}

@media(max-width: 475px){
    .tela-1 .container .formulario li,.tela-1 .container .formulario p {
        font-size: 1.3rem;
        
    }

    .tela-1 .container .formulario p{
        padding: 8px;
    }

    .btn{
        margin-top: 10px;
        padding: 15px;
        margin-bottom: 10px;
        font-size: 1.3rem;

    }

    .form input{
        display: block;
        width: 85%;
        height: 6.5vh;
        border-radius: 5px;
        padding: 10px;
    }

    .container-2{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        
       

    }

    .container-2 img{
        width: 50px;
        padding-top: 80px;
    }

    .container-2 h1{
        font-size: 3.5rem ;
    }

    .container-2 p{
        width: 100%;
        line-height: 30px;
        padding-top: 20px;
    }

    .container-2 p, .container-2 span{
        font-size: 1.8rem;
    }

    .container-2 .btn-2{
       width: 100%;
       margin-top: 150px;
        
    }


}